CONFIG_SDK_USER_ENTRYPOINT="logger_entry"

CONFIG_CXD56_GNSS=y
CONFIG_GPSUTILS_CXD56NMEA_LIB=y

CONFIG_GNSSLOGGER_LOGGER=y
CONFIG_GNSSLOGGER_LOGGER_PRIORITY=100
CONFIG_GNSSLOGGER_LOGGER_STACKSIZE=2048
